<br>
<br>
<br>
<p id="oma"><strong>
        <%= tekija %>
    </strong>
</p>
<div style="text-align:center">
    <a href="https://www.openbrewerydb.org/documentation/01-listbreweries" target="_blank"><Strong>Data prowided
            by Open Brewery DB</Strong></a>
</div>