<style>
    #navi {
        background-color: rgb(8, 15, 11);
    }
</style>

<nav class="navbar navbar-inverse" id="navi">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Brewery DB</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="pubit"><Strong>Pubs</Strong></a></li>
            <li><a href="cities"><Strong>Cities</Strong></a></li>
            <li><a href="upcoming"><Strong>Upcoming</Strong></a></li>
        </ul>
    </div>
</nav>