<nav class="navbar navbar-inverse" id="navi">
    <div class="container-fluid">
        <div class="navbar-header">
            <a style="color: white;" class="navbar-brand">Brewery DB</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a style="color: white;" href="/" class="me"><Strong>Pubs</Strong></a></li>
            <li><a style="color: white;" href="cities"><Strong>Cities</Strong></a></li>
            <li><a style="color: white;" href="upcoming"><Strong>Upcoming</Strong></a></li>
        </ul>
    </div>
</nav>