<div id="otsikko" class="container text-center">
    <h2><Strong>Upcoming Breweries</Strong></h2>
</div>
<div id="xy"></div>
<script>
    function data() {
        // osoite josta tietoa haetaan
        var summary = "https://api.openbrewerydb.org/breweries?by_type=planning";
        $.get(summary, function (data) {
            var taulukko = "<table>"; // Taulukon aloitus
            taulukko += "<tr><td><h3><Strong>Name</Strong></h3></td><td><h3><Strong>Homepage</Strong></h3></td>"; // otsikoiden lisäys
            for (var i = 0; i < data.length; i++) { // Käydään läpi databasen sisältö
                taulukko += "<tr>";
                taulukko += "<td>" + data[i].name + "</td>"; // databasesta poimitaan breweryn nimi
                // Linkki websiten osoitetta varten
                taulukko += "<td><a href=" + data[i].website_url + ">Link</a></td>" // breweryn osoite
                taulukko += "</tr>";
            }
            $("#xy").html(taulukko); // Sijainti johon taulukko tuodaan
        });
    }
</script>